.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  img {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
  }
  .btn-wrapper {
    margin: 20px 13%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    button {
      width: 100px;
      height: 50px;
    }
  }
  .k-widget.k-window {
    .k-content.k-window-content {
      div {
        .k-animation-container.k-animation-container-relative {
          width: 100% !important;
          height: 100% !important;
          .k-child-animation-container {
            width: inherit !important;
            height: inherit !important;
            #surface {
              height: inherit;
            }
          }
        }
      }
    }
  }
}

/*Usage of child combinators to select specific elements in the DOM tree that should not be displayed (excluding child component)*/
.main-container
  > .k-widget.k-window
  > .k-window-titlebar.k-dialog-titlebar
  :nth-child(2),
.main-container
  > .k-widget.k-window
  > .k-window-titlebar.k-dialog-titlebar
  :nth-child(3),
.main-exercise
  > .k-widget.k-window
  > .k-window-titlebar.k-dialog-titlebar
  > .k-window-actions
  :only-child {
  display: none;
}
